body > header {
  height: 400px;
  width: 100%;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #48D5CD;
  background-image: url("/images/cartographer.png");
}

@media only screen and (min-width: 1024px) {
  body > header {
    width: 30vw;
    justify-content: center;
    margin-left: 2em;
    margin-top: 120px;
  }
}