header {
  height: 400px;
  width: 100%;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #48D5CD;
  background-image: url("/images/cartographer.png");
}