.new-tweet {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.new-tweet-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid #000000;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet textarea {
  background: transparent;
  border: none;
  resize: none;
  width: 480px;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4055A1;
  color: #ffffff;
}